@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #a855f7, #ec4899);
  border-radius: 10px;
}

::-moz-scrollbar {
  width: 10px;
  background-color: black;
}

::-moz-scrollbar-thumb {
  background: linear-gradient(to right, #a855f7, #ec4899);
  border-radius: 10px;
}

::-ms-scrollbar {
  width: 10px;
  background-color: black;
}

::-ms-scrollbar-thumb {
  background: linear-gradient(to right, #a855f7, #ec4899);
  border-radius: 10px;
}

::scrollbar {
  width: 10px;
  background-color: black;
}

::scrollbar-thumb {
  background: linear-gradient(to right, #a855f7, #ec4899);
  border-radius: 10px;
}

body {
  cursor: cell;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #a855f7, #ec4899);
  z-index: 20;
}
