@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

body {
  cursor: cell;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #a855f7, #ec4899);
  z-index: 20;
}
